---현재 products 테이블 구조 확인---
SELECT column_name, data_type FROM information_schema.columns WHERE table_name = 'products' ORDER BY ordinal_position;
---Supabase 대시보드의 SQL 에디터에서 위 쿼리를 실행하여 컬럼명을 확인하세요.---
